
<title>Online Booking</title>
{% extends 'layout.html' %}
{% load static %}
{% block body %}




{% if user.is_authenticated %}
<div class="">
<h1 class="text-center  mt-3">Online Booking</h1>

    <div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
        <form method="post" action="{% url 'booking' %}" class="me-2 ms-2" required>
            {% csrf_token %}

                <!--input service-->
            <div class="row">    
                <div class="col-4">
                    <h3 >Select Service:</h3>
                    <select class="form-select fs-3" name="service">
                        <option value="Doctor care">Doctor care</option>
                        <option value="Nursing care">Nursing care</option>
                        <option value="Medical social services">Medical social services</option>
                        <option value="Homemaker or basic assistance care">Homemaker or basic assistance care</option>
                    </select>

                </div>

                <!--input wday-->
                <div class="col-1">
                    <h3 >Day:</h3>
                    <p class="output" id="output1"></p>
                    
                </div>

              
                <!--input day-->
                <div class="col-2">
                    <h3 class="">Select Day:</h3>
                    <select class="form-select fs-3" name="day" id="dayt">
                        {% for validateWeekday in validateWeekdays %}
                        <option value="{{validateWeekday}}">{{validateWeekday}}</option><option value="{{validateWeekday}}">{{validateWeekday}}</option>               
                        {% endfor %}
                    </select>
                </div>

                <br/>
                <div class="col-2 text-center mt-5">
                <button type="submit" class="btn btn-primary text-white">Continue</button>
                </div>

                <script>
                    const txt1 = document.getElementById('dayt');
                    const btn1 = document.getElementById('dayt');
                    const out1 = document.getElementById('output1');

                    date_format = '%Y-%m-%d'

                    function fun1() {
                        out1.innerHTML = txt1.value;
                        
                    }

                    btn1.addEventListener('click',fun1);


                </script>



            </div>



            
        </form>
        
    </div>

<div>





{% else %}

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
    <h1 class="p-2  me-3">You Are Not Signed in!</h1>
    <a href="" class="btn btn-primary shadow text-center">Sign in</a>
</div>

{% endif %}


{% endblock %}s