{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous" defer></script>


    {% block head %}
    {% endblock %}
  </head>
  <body>
    <header>
        <nav class="navbar bg-white navbar-white navbar-expand-lg shadow-sm">
            <div class="container-fluid">
                <a class="navbar-brand  cHover cGreen fs-2" href="{% url 'index' %}">
                  Beacons Pharmacy
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0  fs-5">
                        <li class="nav-item">
                            <a class="nav-link active cHover" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active cHover" href="{% url 'contact' %}">Contact Us</a>
                        </li>     
                        <li class="nav-item">
                            <a class="nav-link active cHover" href="{% url 'booking' %}">Online Booking</a>
                        </li>                   
                        {% if user.is_authenticated %}
                          {% if request.user.is_superuser or request.user.is_staff %}
                          <!--Clinic Staff Link-->
                          <li class="nav-item">
                              <a class="nav-link active cHover" href="{% url 'staffPanela' %}">Staff Panel</a>
                          </li>
                          {% endif %} 
                          <li class="nav-item dropdown me-3 fs-5">
                              <a class="nav-link active dropdown-toggle cHover" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                User
                              </a>
                              <ul class="dropdown-menu  border zNav">
                                <li><a class="dropdown-item" href="{% url 'userPanel' %}">User Panel</a></li>
                                <li><hr class=""></li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}">Sign Out</a></li>
                              </ul>
                          </li>
                        {% else %}
                        <li class="nav-item me-3">
                            <a class="nav-link active cHover" href="{% url 'login' %}">Sign in/Sign Up</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        

        <!--Messages Start-->
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success  alert-dismissible fade show text-center " role="alert">
                <h3 class="display-3">{{ message }}</h3>
                <button type="button" class="btn-close fs-1 position-absolute top-50 start-0 translate-middle-y" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% endif %}
        <!--Messages End-->

    </header>


    {% block body %}
    {% endblock %}
    <footer>
        <div class="container-fluid bg-dark text-light mt-0 pt-5">
            <div class="container py-">
                <div class="row">
                    
                    
                    <div class="container">
                        <div class="row">
                            <!--<div class="col-md-3 col-sm-6">
                              <p>
                                    Opening Hours<br>
                                    <br>
                                    Monday: 9:00 – 18:00*<br>
                                    Tuesday: 9:00 – 18:00*<br>
                                    Wednesday: 9:00 – 18:00*<br>
                                    Thursday: 9:00 – 17:00*<br>
                                    Friday: 09:00 – 18:00*<br>
                                    Saturday: 09:00 – 12:00<br>
                                    Sunday: Closed  <br>
                                    * Closed for lunch: <br> 13:00 – 14:00</p>
                            </div>-->
                            <div class="col-md-2 col-sm-2 footer-small-sepra hidden-xs">
                              <p>Categories</p>
                              <ul class="footer-nav">
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'services' %}">Services</a></li>
                                <li><a href="{% url 'faq' %}">FAQs</a></li>
                                <!--<li><a href="{% url 'home' %}">Job Opportunities</a></li>-->
                                <li><a href="{% url 'about' %}">About Us</a></li>
                                <li><a href="{% url 'news' %}">News</a></li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                              </ul>
                            </div>

                            <div class="col-md-2 col-sm-3 footer-small-sepra hidden-xs">
                                
                              <p>Connect with us</p>
                              <ul class="list-inline social-links">


                                <li><a target="_blank" href="https://www.facebook.com/p/Beacons-Pharmacy-100066690920495/"><i class="fab fa-facebook-square"></i></a>  Beacons Pharmacy</li>
                                <li><a target="_blank" href="https://www.facebook.com/p/Dowlais-Pharmacy-100078146671194/"><i class="fab fa-facebook-square"></i></a>  Dowlais Pharmacy</li>
                                <li><a target="_blank" href="https://www.facebook.com/georgetownpharmacymerthyrtydfil"><i class="fab fa-facebook-square"></i></a>  Georgetown Pharmacy</li>
                                <li><a target="_blank" href="https://www.facebook.com/p/Keir-Hardie-Pharmacy-100067487744360/"><i class="fab fa-facebook-square"></i></a>  Kwir Hardie Pharmacy</li>
                                <li><a target="_blank" href="https://www.facebook.com/people/Lewis-Chemist-Bargoed/100089335776087/?locale2=hi_IN"><i class="fab fa-facebook-square"></i></a>  Lewis Pharmacy</li>
                                      
                              </ul>
                            
                          </div>


                            <div class="col-md-4 col-sm-3 footer-small-sepra hidden-xs">
                                <p>Email us</p>
                              <p>
                                <label><i class="fa fa-envelope"></i></label>
                                <a href="mailto:neaconspharmacy@outlook.com">Beacons Pharmacy</a><br>
                                <label><i class="fa fa-envelope"></i></label>
                                <a href="mailto:georgetowndowlaisgeorgetownpharmacy@outlook.com">Dowlais Pharmacy</a><br>
                                <label><i class="fa fa-envelope"></i></label>
                                <a href="mailto:georgetownpharmacy@outlook.com">Georgetown Pharmacy</a><br>
                                <label><i class="fa fa-envelope"></i></label>
                                <a href="mailto:keirhardiepharmacy@outlook.com">Keir Hardie Pharmac</a><br>
                                <label><i class="fa fa-envelope"></i></label>
                                <a href="mailto:lewispharmacy@outlook.com">Lewis Pharmacy</a><br>


                              </p>
                              
                                  </div>
                                  <div class="col-md-4 col-sm-3 footer-small-sepra hidden-xs">
                              <p>Talk to us</p>
                              <p>
                                      
                                <label><i class="fa fa-phone"></i></label>
                                <a href="tel:01685 388838">Beacons Pharmacy :01685 388838</a><br>
                              
                                <label><i class="fa fa-phone"></i></label>
                                <a href="tel:01685 350350">Dowlais Pharmacy :01685 350350</a><br>

                                <label><i class="fa fa-phone"></i></label>
                                <a href="tel:01245 264252">Georgetown Pharmacy :01245 264252</a><br>

                                <label><i class="fa fa-phone"></i></label>
                                <a href="tel:01685 350857">Keir Hardie Pharmacy :01685 350857</a><br>
                              
                                <label><i class="fa fa-phone"></i></label>
                                <a href="tel:01443 831030">Lewis Pharmacy :01443 831030</a><br>

                                

                              
                              
                              
                              </p>
                            
                                
                          </div>
                          
                            <!--<div class="col-md-3 col-sm-6 footer-small-sepra">
                              <img class="bg-dark text-light" id="logo-icon" src="{% static 'media/logo4.png' %}" height="70px">
                              <p>Ynysfach Road,<br>
                                Georgetown,<br>
                                Merthyr Tydfil,<br>
                                CF48 1AG,<br>
                                UK</p>
                                    </div>
                          </div>-->
                          <div class="clearfix"></div>
                          <div class="footer-sepra"></div>
                          <!-- COPYRIGHT -->
                          <div class="copyright text-center">Copyright © 2023 <strong>Dowlais Pharmacy Ltd</strong>. All rights reserved. <a target="_blank" href="http://www.computeraidwales.co.uk/">Built by ComputerAidWales</a></div>
                          <BR>
                        </div>
                        <br><br>
                    
                </div>
            </div>
        </div>
  </body>
</html>