{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-30">
    <div class="row">
        <div class="col-12 col-md-12 col-sm-12 my-auto mx-auto  " style="width:950px">
            <br><br> <br><br>
            
            <div class="container ">
                <br><br> <br><br>
                
                <div class="d-inline-block text-white text-uppercase align-text-top d-inline-block">
                    <h4>frequently asked questions</h4>
                </div>
                <!--<div class="d-sm-inline-block bg-success">
                    <a href="{% url 'home' %}?category=donation" class="shop-now-button btn btn-sm rounded-0 btn-rounded text-uppercase py-3 bg-pblue">Home !</a>
                </div> -->
                <br><br> <br><br>
              </div>
        </div>
    </div>
</div>


<main>
    <div class="container-fluid bg-white text-dark mt-0 pt-5 test">
      <div class="row body">
        
                <div class="col-sm-4 hidden-xs bg-white body"> 
          
          
        </div>
              
        <!-- MAIN CONTENT -->
    
        <div class="col-sm-8 bg-white col-12 col-md-12 ">
          <div>
            <div class="clearfix"></div><div class="col-md-12 image-col text-center"><h4>Have a question for us? Here are a few frequently asked questions that we get at Georgetown Pharmacy and some helpful answers.</p>
  </div>
  
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Common ailments service
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p><strong>Common Ailments Service </strong> offers patients a free NHS consultation and free medication for 27 common ailments that cannot be managed by self-care alone.</p>
          <p>The 27 Common Ailments covered are - Acne, athlete’s foot, back pain, chickenpox, cold sores, colic, conjunctivitis, constipation, diarrhoea, dry eyes, dermatitis, haemorrhoids, hay fever, head lice, indigestion, in-growing toenails, intertrigo, ringworm, mouth ulcers, nappy rash, oral thrush, scabies, sore throat, teething, threadworms, vaginal thrush, and verrucae.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Prescribed medication advice.
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          flu vaccination.
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Available now.</strong>Getting the flu vaccine is more important than ever this year. So get your flu jab from one of our pharmacies.
      </div>
    </div>
    
  </div>
  <br><br><br>    
  <footer>
    <div class="container-fluid bg-dark text-light mt-0 pt-5">
        <div class="container py-">
            <div class="row">
                
                
                <div class="container">
                    <div class="row">
                        <!--<div class="col-md-3 col-sm-6">
                          <p>
                                Opening Hours<br>
                                <br>
                                Monday: 9:00 – 18:00*<br>
                                Tuesday: 9:00 – 18:00*<br>
                                Wednesday: 9:00 – 18:00*<br>
                                Thursday: 9:00 – 17:00*<br>
                                Friday: 09:00 – 18:00*<br>
                                Saturday: 09:00 – 12:00<br>
                                Sunday: Closed  <br>
                                * Closed for lunch: <br> 13:00 – 14:00</p>
                        </div>-->
                        <div class="col-md-2 col-sm-2 footer-small-sepra hidden-xs">
                          <p>Categories</p>
                          <ul class="footer-nav">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'services' %}">Services</a></li>
                            <li><a href="{% url 'faq' %}">FAQs</a></li>
                            <!--<li><a href="{% url 'home' %}">Job Opportunities</a></li>-->
                            <li><a href="{% url 'about' %}">About Us</a></li>
                            <li><a href="{% url 'news' %}">News</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                          </ul>
                        </div>

                        <div class="col-md-2 col-sm-3 footer-small-sepra hidden-xs">
                            
                          <p>Connect with us</p>
                          <ul class="list-inline social-links">


                            <li><a target="_blank" href="https://www.facebook.com/p/Beacons-Pharmacy-100066690920495/"><i class="fab fa-facebook-square"></i></a>  Beacons Pharmacy</li>
                            <li><a target="_blank" href="https://www.facebook.com/p/Dowlais-Pharmacy-100078146671194/"><i class="fab fa-facebook-square"></i></a>  Dowlais Pharmacy</li>
                            <li><a target="_blank" href="https://www.facebook.com/georgetownpharmacymerthyrtydfil"><i class="fab fa-facebook-square"></i></a>  Georgetown Pharmacy</li>
                            <li><a target="_blank" href="https://www.facebook.com/p/Keir-Hardie-Pharmacy-100067487744360/"><i class="fab fa-facebook-square"></i></a>  Kwir Hardie Pharmacy</li>
                            <li><a target="_blank" href="https://www.facebook.com/people/Lewis-Chemist-Bargoed/100089335776087/?locale2=hi_IN"><i class="fab fa-facebook-square"></i></a>  Lewis Pharmacy</li>
                                  
                          </ul>
                        
                      </div>


                        <div class="col-md-4 col-sm-3 footer-small-sepra hidden-xs">
                            <p>Email us</p>
                          <p>
                            <label><i class="fa fa-envelope"></i></label>
                            <a href="mailto:neaconspharmacy@outlook.com">Beacons Pharmacy</a><br>
                            <label><i class="fa fa-envelope"></i></label>
                            <a href="mailto:georgetowndowlaisgeorgetownpharmacy@outlook.com">Dowlais Pharmacy</a><br>
                            <label><i class="fa fa-envelope"></i></label>
                            <a href="mailto:georgetownpharmacy@outlook.com">Georgetown Pharmacy</a><br>
                            <label><i class="fa fa-envelope"></i></label>
                            <a href="mailto:keirhardiepharmacy@outlook.com">Keir Hardie Pharmac</a><br>
                            <label><i class="fa fa-envelope"></i></label>
                            <a href="mailto:lewispharmacy@outlook.com">Lewis Pharmacy</a><br>


                          </p>
                          
                              </div>
                              <div class="col-md-4 col-sm-3 footer-small-sepra hidden-xs">
                          <p>Talk to us</p>
                          <p>
                                  
                            <label><i class="fa fa-phone"></i></label>
                            <a href="tel:01685 388838">Beacons Pharmacy :01685 388838</a><br>
                          
                            <label><i class="fa fa-phone"></i></label>
                            <a href="tel:01685 350350">Dowlais Pharmacy :01685 350350</a><br>

                            <label><i class="fa fa-phone"></i></label>
                            <a href="tel:01245 264252">Georgetown Pharmacy :01245 264252</a><br>

                            <label><i class="fa fa-phone"></i></label>
                            <a href="tel:01685 350857">Keir Hardie Pharmacy :01685 350857</a><br>
                          
                            <label><i class="fa fa-phone"></i></label>
                            <a href="tel:01443 831030">Lewis Pharmacy :01443 831030</a><br>

                            

                          
                          
                          
                          </p>
                        
                            
                      </div>
                      
                        <!--<div class="col-md-3 col-sm-6 footer-small-sepra">
                          <img class="bg-dark text-light" id="logo-icon" src="{% static 'media/logo4.png' %}" height="70px">
                          <p>Ynysfach Road,<br>
                            Georgetown,<br>
                            Merthyr Tydfil,<br>
                            CF48 1AG,<br>
                            UK</p>
                                </div>
                      </div>-->
                      <div class="clearfix"></div>
                      <div class="footer-sepra"></div>
                      <!-- COPYRIGHT -->
                      <div class="copyright text-center">Copyright © 2023 <strong>Dowlais Pharmacy Ltd</strong>. All rights reserved. <a target="_blank" href="http://www.computeraidwales.co.uk/">Built by ComputerAidWales</a></div>
                      <BR>
                    </div>
                    <br><br>
                
            </div>
        </div>
    </div>
</footer>       
    
 
      
  </div>



{% endblock %}

