.html {
    height: 100%;
}

.l-h {
    line-height: 0.65em;
}

.l-h2 {
    line-height: 0.6em;
}

.log-p {
    margin-left: 25px;
    margin-top: 250px;
    color: black;
}

.log-sign {
    padding-left: 25px;
    margin-top: 250px;
    color: black;
}

.feature-img {
    height: 35%;
    position: absolute;
    top: 20vh;
    right: 335px;
    animation: zoomin 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes zoomin{
    0%{
        transform: scale(0.5);
        visibility: visible;
    }
    100%{
        transform: scale(1);
        visibility: visible;
    }
}

.bg-new {
    background: #e1eceb;
}

.wrapper{
	background: #e1eceb;
	height: calc(95vh - 80px);
	border-radius: 15px;
	display: flex;
}

.side_bar{
	width: 250px;
	height: 100%;
    
}

.main_container {
    margin-left: 20px;
    margin-top: 20px;
}

p.t-right {
    text-align: right;
}


.main_container p{
	line-height: 22px;   
	margin-bottom: 20px;
    font-size: 20px;
    
}

.side_bar .side_bar_top{
	background: #3d5654;
	height: 150px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding: 20px;
}

.side_bar .side_bar_top .profile_pic{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;	
}

.side_bar .side_bar_top .profile_pic img{
	width: 115px;
	height: 50px;
	padding: 5px;
	border: 2px solid #d6a217;
    border-radius: 50%;
}

.side_bar .side_bar_top .profile_info{
	text-align: center;
	color: #fff;
}

.side_bar .side_bar_top .profile_info p{
	margin-top: 5px;
	font-size: 12px;	
}

.side_bar .side_bar_bottom{
	background: #425c5a;
	height: calc(100% - 230px);
	padding: 20px 0;
	padding-left: 15px;		
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;	
}

.side_bar .side_bar_bottom ul li{
	position: relative;
}

.side_bar .side_bar_bottom ul li a{
	display: block;
	padding: 15px;		
	font-size: 14px;
	color: #d6a217;
	margin-bottom: 5px;				
}

.side_bar .side_bar_bottom ul li a .icon{
	margin-right: 8px;
}

.side_bar .side_bar_bottom ul li.active a{
	background: #e1eceb;
	color: #425c5a;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

.side_bar .side_bar_bottom ul li.active .top_curve,
.side_bar .side_bar_bottom ul li.active .bottom_curve{
	position: absolute;
	left: 0;
	width: 100%;
	height: 20px;
	background: #e1eceb;
}

.side_bar .side_bar_bottom ul li.active .top_curve{
	top: -20px;
}

.side_bar .side_bar_bottom ul li.active .bottom_curve{
	bottom: -20px;	
}

.side_bar .side_bar_bottom ul li.active .top_curve:before,
.side_bar .side_bar_bottom ul li.active .bottom_curve:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #425c5a;	
}

.side_bar .side_bar_bottom ul li.active .top_curve:before{
	border-bottom-right-radius: 25px;
}

.side_bar .side_bar_bottom ul li.active .bottom_curve:before{
	border-top-right-radius: 25px;
}







.cover {
    object-fit: cover;
}

.georgetown {
    background: url('/static/media/shop.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #0fcce9;
    background-color: #0fcce9;
    
    max-height: 300px;
}


.bg-pblue {
    background-color: #ADD8E6;
}

.test {
    margin-top: 0px;
}


body {
    /*background: url("/static/media/merthyr.png") no-repeat center center fixed;*?
    /* background: url("/media/merthyxr.png") alt="My Image" no-repeat center center fixed; */
    /*background-size: cover;
    height: calc(100vh - 164px);*/
    color: #0fcce9;
    background-color: #0fcce9;
    font-family: 'Lato';
    max-height: 30px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    font-size: large;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.tstyle {
    padding: 1rem;
    color: #000000;
}

.lcorner {
    border-radius: 25px;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 500px;
    height: 240px;
}

.corner {
    border-radius: 10px;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 50px;
    height: 50px;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-blue {
    background: blue;
}

.bg-pblue {
    background: #ADD8E6;
}

.bg-black {
    background: #000 !important;
}

.text-blue {
    color: #ADD8E6 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #ADD8E6;
    z-index: -1;
}

a.category-badge>span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 300vh;
}

/* The sidebar navigation menu */
.side-barold {
    font-size: large;
    margin: 0;
    padding: 0;
    width: 280px;
    
    background-color: #f1f1f1;
    position: sticky;
    height: 350px;
    overflow: auto;
}



/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 100%;
    }
}

/* Allauth form formatting */


.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 900px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.05rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .4rem .4rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty,
    .decrement-qty {
        padding: .25rem .5rem !important;
    }

    .lcorner {
        width: 200px;
        height: 300px;
    }

    .tstyle {
        font-size: .9rem;
    }

    .text-uppercase {
        font-size: 1.0rem;
    }

    .side-bar {
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #f1f1f1;
        position: fixed;
        height: 100%;
        overflow: auto;
    }

}

@media only screen and (max-width: 1000px) {

    #mum {
        display: none;
    }

}



/* media sidebar with */

@media (max-width: 1050px) {

    .side-bar {
        width: 250px;
        *margin: 0;
        padding: 0;
        background-color: #f1f1f1;
        position: fixed;
        height: 100%;
        overflow: auto;
    }
}


@media (max-width: 550px) {

    .side-bar {
        width: 370px;
        margin: 0;
        padding: 0;
        background-color: #f1f1f1;
        position: fixed;
        height: 100%;
        overflow: auto;*/
    }
}