<div class="collapse inline navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
            
            
        <li class="g">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        
        <li class="nav-item dropdown">
            <!--<a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'services' %}" id="home-link">
                Services
            </a>-->
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'flu' %}?sort=price&direction=asc" class="dropdown-item">Flu Vaccination</a>
                <a href="{% url 'pill' %}?sort=rating&direction=desc" class="dropdown-item ">Emergency Contraception</a>
                <a href="{% url 'ear' %}?sort=category&direction=asc" class="dropdown-item ">Ear, Throat advice</a>
                <a href="{% url 'uti' %}" class="dropdown-item">urinary tract infection Advice</a>
                <a href="{% url 'skin' %}" class="dropdown-item">Skin Conditions</a>
                <a href="{% url 'services' %}" class="dropdown-item">All services</a> 
            </div>
        </li>
        <li class="g">
            <!--<a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'index' %}" id="home-link">
                Appointments
            </a>--->
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Appointments
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'index' %}?" class="dropdown-item">Beacons Phamrmacy</a>
                <a href="{% url 'indexa' %}?" class="dropdown-item ">Dowlais Phamrmacy</a>
                <a href="{% url 'indexb' %}?" class="dropdown-item ">Georgetown Pharmacy</a>
                <a href="{% url 'indexc' %}?" class="dropdown-item ">Keir Hardie Pharmacy</a>
                <a href="{% url 'indexd' %}?" class="dropdown-item ">Lewis Pharmacy</a>
                <!--<a href="{% url 'services' %}" class="dropdown-item">urinary tract infection Advice</a>--->
            </div>
        </li>
        <li class="g">
            <!--<a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'index' %}" id="home-link">
                Appointments
            </a>--->
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Stores
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'beacons' %}?" class="dropdown-item">Beacons Phamrmacy</a>
                <a href="{% url 'dowlais' %}?" class="dropdown-item ">Dowlais Phamrmacy</a>
                <a href="{% url 'georgetown' %}?" class="dropdown-item ">Georgetown Pharmacy</a>
                <a href="{% url 'keir' %}?" class="dropdown-item ">Keir Hardie Pharmacy</a>
                <a href="{% url 'lewis' %}?" class="dropdown-item ">Lewis Pharmacy</a>
                <!--<a href="{% url 'services' %}" class="dropdown-item">urinary tract infection Advice</a>--->
            </div>
        </li>

        <!--<li class="nav-item d-block">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'news' %}" id="home-link">
                News
            </a>
        </li>-->
        

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'faq' %}" id="home-link">
                FAQ's
            </a>
            <!--<a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Faq
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'faq' %}?category=clothing,sportswear" class="dropdown-item">Clothing &amp; Sportswear</a>
                <a href="{% url 'faq' %}?category=gifts" class="dropdown-item">Gifts</a>
                <a href="{% url 'faq' %}?category=art" class="dropdown-item">Art</a>
                <a href="{% url 'faq' %}?category=clothing,sportswear,gifts,art,donation" class="dropdown-item">All </a>
            </div>-->
        </li>
        <li class="g">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'about' %}" id="home-link">
                About us
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'contact' %}" id="home-link">
                Contact
            </a>
            <!--<a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="donation-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="contact-link">
                <a href="{% url 'contact' %}?category=donation" class="dropdown-item">Donations</a>
            </div>-->
        </li>

        <li>
            <a class="text-black nav-link " href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="">
                    <!--<div><i class="fas fa-user fa-lg"></i></div>-->
                    <p class="my-0">MY ACCOUNT</p>
                </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <!--<a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>]-->
                        <a href="{% url 'staffPanelAll' %}" class="dropdown-item">Appointments Staff Level</a>
                        <a href="{% url 'userPanel' %}" class="dropdown-item">Your appointments </a>
                    {% endif %}
                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                    <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                    <a href="{% url 'signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </li>
        <!--<li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>-->
    </ul>
</div>
