{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row h-30">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid" >
    <div class="" >
        <br>
        <div class="row h-30">
            
            <h1 class="text-black align-text-top text-center" > Dowlais Pharmacy    </h1>
            
            <img  src="{% static 'media/dowlais2.jpg'%}" background-size: cover; >
        </div>
    <div>  
</div>

    <main>
        <div class="container-fluid bg-white text-dark mt-0 pt-5 test">
          <div class="row body">
            
                    <div class="col-sm-4 hidden-xs bg-white body"> 
              
              
            </div>
        
        
        <!--<main>
                <div class="container-fluid bg-white text-dark mt-0 pt-5 test">
                  <div class="row body">
                    
                            <div class="col-sm-4 hidden-xs bg-white body">--->
                      
                    <!-- SIDEBAR -->
        
                    <div class="wrapper">
                      <div class="side_bar">
                          <div class="side_bar_top">
                              <div class="profile_pic">
                                  <!--<img src="profile.png" alt="profile">-->
                              </div>
                              <div class="profile_info">
                                  <h3>Merthyr Tydfil</h3>
                              </div>
                          </div>
                          
                          <div class="side_bar_bottom">
                              <ul>
                                  <li class="active">
                                      <span class="top_curve"></span>
                                      <a href="{% url 'beacons' %}" aria-current="page">
                                         <span class="item">Beacons</span></a>
                                      <span class="bottom_curve"></span>
                                  </li>
                                  <li>
                                      <span class="top_curve"></span>
                                      <a href="{% url 'dowlais' %}" aria-current="page">
                                          <span class="item">Dowlais</span></a>
                                      <span class="bottom_curve"></span>
                                  </li>
                                  <li>
                                      <span class="top_curve"></span>
                                      <a href="{% url 'georgetown' %}" aria-current="page">
                                          <span class="item">Georgetown</span></a>
                                      <span class="bottom_curve"></span>
                                  </li>
                                  <li>
                                      <span class="top_curve"></span>
                                      <a href="{% url 'keir' %}" aria-current="page">
                                          <span class="item">Keir Hardie</span></a>
                                      <span class="bottom_curve"></span>
                                  </li>
                                  <div class="profile_info text-white">
                                      <h3>Bargoed</h3>
                                  </div>
                                  <li>
                                      <span class="top_curve"></span>
                                      <a href="{% url 'lewis' %}" aria-current="page">
                                          <span class="item">Lewis</span></a>
                                      <span class="bottom_curve"></span>
                                  </li>
                                  <!--<li>
                                      <span class="top_curve"></span>
                                      <a href="#">
                                          <span class="icon"><i class="fas fa-cog"></i></span>
                                          <span class="item">SETTINGS</span></a>
                                      <span class="bottom_curve"></span>
                                  </li>-->
                              </ul>
                          </div>
                      </div>
                      <div class="main_container " style="margin-left: 50px; margin-top: 50px; ">
                          <p> When it comes to your health and medications, our Pharmacies have got you covered. 
                              Our responsible staff work hard to make sure
                              each patient is taken care of with fast and friendly service and reliable healthcare
                               advice. Come to our pharmacies listed and start getting the personalised
                                attention you deserve.</p>
        
                          <p>We've have pharmacists who can now prescribe medications for a range of ailiments.  
                              Please make an appointment with the menu above.</p>
        
                          <p>As autumn approaches we have the flu vaccine available , appointments can be made 
                              with the menu above select the pharmacy nearest you.</p>
        
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      </div>
                  </div>
                  <br><br><br>
                  
        
        
        
        
        
        <!--<main>
        <div class="container-fluid bg-white text-dark mt-0 pt-5 test">
          <div class="row body">
                
                        <div class="col-sm-4 hidden-xs bg-white body">---> 
                  
                <!-- SIDEBAR -->
                <!--<div class="container-fluid" >
                  <div class="side-bar bg-pblue my-5">
                    <h3><strong>Our Stores</strong></h3>
                    <ul>
                        <h4>In Merthyr Tydfil</h4> 
                        <li><a href="{% url 'beacons' %}" aria-current="page">Beacons</a></li>
                        <li><a href="{% url 'dowlais' %}" aria-current="page">Dowlais</a></li>
                        <li><a href="{% url 'georgetown' %}" aria-current="page">Georgetown</a></li>
                        <li><a href="{% url 'keir' %}" aria-current="page">Keir Hardie</a></li>
                        <h4>In Bargoed</h4>   
                        <li><a href="{% url 'lewis' %}" aria-current="page">Lewis</a></li>
                    </ul>
                  </div>
                </div>
          </div>
                      
                <!-- MAIN CONTENT -->
            
                <!--<div class="col-sm-8 bg-white">
                  <div>
                    
                    <h4>Exciting new services available in Georgetown Pharmacy</h4>
        <p>If you are a women aged between 18 and 64 and are suffering from a urinary tract infection (UTI) Patients can speak to a specially trained pharmacist in confidence in a private consultation room.<span style="background:white"></span></p>
        
        <p><span style="background:white"></span>If the pharmacist concludes an infection is present, the patient may be issued with antibiotics without the need for an appointment with their GP.   </p>
        
        <p><span style="background:white">From April a specially trained pharacist will be avialable for advice and when rewuired prescribing for ear, throst and mouth conditions.</span></p>
        
        <p><span style="background:white">The Common Ailments Scheme has been introduced to allow us to provide advice and treatment, the ailments covered is listed below.</span></p>
          
        <p><span style="background:white"></span>If the pharmacist concludes an infection is present, the patient may be issued with antibiotics without the need for an appointment with their GP.   </p>
        
        <p><span style="background:white">From April a specially trained pharacist will be avaiable for advice and when required prescribing for ear, throst and mouth conditions.</span></p>
        
        <p><span style="background:white">The Common Ailments Scheme has been introduced to allow us to provide advice and treatment, the ailments covered is listed below.</span></p>
          
        
          </div>
          
              
          </div>--->


          <footer>
            <div class="container-fluid bg-dark text-light mt-0 pt-5">
                <div class="container py-">
                    <div class="row">
                        
                        
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3 col-sm-6">
                                  <p>
                                        Opening Hours<br>
                                        <br>
                                        Monday: 9:00 – 18:00*<br>
                                        Tuesday: 9:00 – 18:00*<br>
                                        Wednesday: 9:00 – 18:00*<br>
                                        Thursday: 9:00 – 17:00*<br>
                                        Friday: 09:00 – 18:00*<br>
                                        Saturday: 09:00 – 12:00<br>
                                        Sunday: Closed  <br>
                                        * Closed for lunch: <br> 13:00 – 14:00</p>
                                </div>
                                <div class="col-md-2 col-sm-6 footer-small-sepra hidden-xs">
                                  <p>Categories</p>
                                  <ul class="footer-nav">
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    <li><a href="{% url 'services' %}">Services</a></li>
                                    <li><a href="{% url 'faq' %}">FAQs</a></li>
                                    <!--<li><a href="{% url 'home' %}">Job Opportunities</a></li>-->
                                    <li><a href="{% url 'about' %}">About Us</a></li>
                                    <li><a href="{% url 'news' %}">News</a></li>
                                    <li><a href="{% url 'contact' %}">Contact</a></li>
                                  </ul>
                                </div>
                                <div class="col-md-4 col-sm-6 footer-small-sepra contact-details">
                                  <div class="hidden-xs">
                                    <p>Talk to us</p>
                                  <p>
                                              <label><i class="fa fa-envelope"></i></label>
                                    <a href="mailto:georgetownpharmacy@outlook.com">georgetownpharmacy@outlook.com</a><br>
                                                        <label><i class="fa fa-phone"></i></label>
                                    <a href="tel:01245 264252">01685 377824</a><br>
                                                      </p>
                                  <p>Connect with us</p>
                                  <ul class="list-inline social-links">
                                              <li><a target="_blank" href="https://www.facebook.com/georgetownpharmacymerthyrtydfil"><i class="fab fa-facebook-square"></i></a></li>
                                                                                                <li><a target="_blank" href="https://www.google.com/maps/place/Georgetown+Pharmacy+Ltd/@51.7462973,-3.3871628,17.52z/data=!4m15!1m8!3m7!1s0x486e3ba311e251f5:0xa75c32e5f6d4a2b1!2sMerthyr+Tydfil+CF48+1AG!3b1!8m2!3d51.7438386!4d-3.3863518!16s%2Fg%2F1v1sknmf!3m5!1s0x486e3ba316abbefb:0xb2d07a0d37ab038!8m2!3d51.7463917!4d-3.3843458!16s%2Fg%2F1wj_5gjf"><i class="fab fa-google"></i></a></li>
                                            </ul>
                                      </div>
                                </div>
                                <div class="col-md-3 col-sm-6 footer-small-sepra">
                                  <img class="bg-dark text-light" id="logo-icon" src="{% static 'media/logo4.png' %}" height="70px">
                                  <p>Ynysfach Road,<br>
                                    Georgetown,<br>
                                    Merthyr Tydfil,<br>
                                    CF48 1AG,<br>
                                    UK</p>
                                        </div>
                              </div>
                              <div class="clearfix"></div>
                              <div class="footer-sepra"></div>
                              <!-- COPYRIGHT -->
                              <div class="copyright text-center">Copyright © 2023 <strong>Georgetown Pharmacy</strong>. All rights reserved. <a target="_blank" href="http://www.computeraidwales.co.uk/">Built by ComputerAidWales</a></div>
                              <BR>
                            </div>
                        
                    </div>
                </div>
            </div>
        


{% endblock %}
