{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row h-100">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <div class="my-5">
                    <div class="col-12 centered text-white">
                        <h1 class="centering"> Flu Jab</h1>

                        <a href="{% url 'home' %}" aria-label="view {{ product.name }}"class ="text-white">Press here to return to homepage</a>
                    </div>
                </div>
            </div>    
        </div>
    </div>

    <div class="container bg-white">
        <div class="row equal"> 

    <!-- MAIN CONTENT -->
    <div class="col-sm-8">
        <div>
          <div class="clearfix"></div><div class="col-md-12 image-col"><p><span style="font-weight: 400;">This year, getting the flu vaccine is more important than ever. </span><span style="font-weight: 400;">Colecross Pharmacy </span><span style="font-weight: 400;">is now providing the flu jab in </span><span style="font-weight: 400;">Chelmsford</span><span style="font-weight: 400;"> and </span><span style="font-weight: 400;">the surrounding area</span><span style="font-weight: 400;">.&nbsp;</span></p>
<p>&nbsp;</p>
<h2><span style="font-weight: 400;">What is the flu jab?</span></h2>
<p><span style="font-weight: 400;">The flu jab is a vaccination against the influenza virus. Most people receive the flu vaccine as an injection or jab. But children receive the vaccination in the form of a nasal spray.</span></p>
<p><span style="font-weight: 400;">The flu vaccine is the best protection against catching the flu. It is possible to catch a strain of flu virus that wasn’t included in the jab. However, if you do, you’re still provided with some protection and will probably recover more quickly from than if you hadn’t had the jab.</span></p>
<p><span style="font-weight: 400;">You can get your flu jab from your GP. Or, if you live in Merthyr Tydfil</span><span style="font-weight: 400;">&nbsp;or the surrounding area, you can get the flu jab through Georgetown Pharmacy</span><span style="font-weight: 400;">&nbsp;Flu Vaccination Service.</span></p>
<p><span style="font-weight: 400;">Georgetown Pharmacy encourages everyone who can to get the flu jab in 2023.</span></p>
<p>&nbsp;</p>
<h2><span style="font-weight: 400;">Who should have the flu jab?</span></h2>
<p><span style="font-weight: 400;">For 2023, it’s strongly recommended that everyone gets vaccinated if they can – especially if you were shielding during the coronavirus lockdown.</span></p>
<p><span style="font-weight: 400;">Having the flu jab will help protect you from catching and spreading the flu. It will also help prevent you from infecting other people in your family.</span></p>
<p><span style="font-weight: 400;">Getting the flu vaccine in 2023 will also help reduce the strain on the NHS during flu season especially with COVID-19 still present.</span></p>
<p><span style="font-weight: 400;">It’s ok to have the flu jab when pregnant or if you’re taking antibiotics.</span></p>
<p>&nbsp;</p>
<h2><span style="font-weight: 400;">Who shouldn’t have the flu jab?</span></h2>
<p><span style="font-weight: 400;">Most people can have a flu vaccine. However, there are a couple of exceptions:</span></p>
<p>– If you are currently unwell with a fever, you should delay getting the flu jab.<br>
– If you have an egg allergy, speak to your GP or pharmacist before getting the jab.</p>
<p><img loading="lazy" class="alignnone size-large wp-image-345" src="https://www.colecrosspharmacy.co.uk/wp-content/uploads/2020/07/Untitled-design-2021-08-25T110221.515-1024x536.png" alt="" width="1024" height="536" srcset="https://www.colecrosspharmacy.co.uk/wp-content/uploads/2020/07/Untitled-design-2021-08-25T110221.515-1024x536.png 1024w, https://www.colecrosspharmacy.co.uk/wp-content/uploads/2020/07/Untitled-design-2021-08-25T110221.515-300x157.png 300w, https://www.colecrosspharmacy.co.uk/wp-content/uploads/2020/07/Untitled-design-2021-08-25T110221.515.png 1200w" sizes="(max-width: 1024px) 100vw, 1024px"></p>
<p>&nbsp;</p>
<h2><span style="font-weight: 400;">Who is eligible for a free flu jab on the NHS?</span></h2>
<p><span style="font-weight: 400;">The flu vaccine is free for people in high-risk groups. You qualify for a free vaccine if you are in one of the following categories:</span></p>
<p>– People aged&nbsp;<strong>50</strong>&nbsp;and over</p>
<p>– Frontline health or social care workers</p>
<p>– Pregnant women</p>
<p>–&nbsp;People with certain medical conditions such as asthma, diabetes or chronic heart disease</p>
<p>– Neurological disease such as parkinson’s disease</p>
<p>-Weakened immune system due to e.g. cancer</p>
<p><span style="font-weight: 400;">Your pharmacist will check if you qualify for a flu vaccination on the <strong><a href="https://www.nhs.wales/" target="_blank" rel="noopener">NHS</a></strong>. If you don’t qualify for a free flu jab, you can still have the flu jab privately. But you can still access the free jab from your pharmacist, which may be more convenient than booking an appointment at your GPs.&nbsp;</span></p>
<p>&nbsp;</p>
<h2><span style="font-weight: 400;">When should I have the 2023 flu jab?</span></h2>
<p><span style="font-weight: 400;">The best time to have your flu jab is from the end of&nbsp; September to November. This is the ideal time but you can have it later during the winter.</span></p>
<p>&nbsp;</p>
<h2><span style="font-weight: 400;">What are the flu jab side effects?</span></h2>
<p><span style="font-weight: 400;">The flu jab is a safe and effective method of fighting the flu. If you experience any flu jab side effects, they are likely to be mild. Side effects include:</span></p>
<p>– Mild fever<br>
– Aching muscles<br>
– Sore arm where you were injected<br>
– Headache<br>
– Tiredness or feeling under the weather<br>
– Blocked or runny nose</p>
<p><span style="font-weight: 400;">Some people also lose their appetite following the flu jab. Serious side effects of the injected flu vaccine are very rare.</span></p>
<p>&nbsp;</p>
<h2><span style="font-weight: 400;">How to get the flu jab in Merthyr Tydfil</span></h2>
<p><span style="font-weight: 400;">For Merthyr Tydfil</span><span style="font-weight: 400;">, you can <strong>book in-store</strong>, <strong>via telephone</strong>, or <strong>simply walk into</strong> Georgetown Pharmacy for the flu jab</span><span style="font-weight: 400;"> at our vaccination clinic.</span></p>
<p>&nbsp;</p>
<p class="text-center" style="margin: 0 auto;"><a class="read-more-btn" href="https://www.georgetownpharmacy.co.uk/contact/">Contact us to learn more</a></p>
</div><div class="clearfix"></div><div class="col-md-12 image-col"><style type="text/css">.contact-block, .news-block {display:none !important;}</style>
</div>        </div>
      </div>
</div>
</div>
<div>
    <br><br>
</div>


{% endblock %}
