{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row h-30">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid" >
    <div class="" >
        <br>
        <div class="row h-30">
            
            <h1 class="text-black align-text-top text-center" > Flu Vaccinations   </h1>
            
            <img  src="{% static 'media/flu.jpg'%}" background-size: cover; >
        </div>
    <div>  
</div>

    <main>
        <div class="container-fluid bg-white text-dark mt-0 pt-5 test">
          <div class="row body">
            
                    <div class="col-sm-4 hidden-xs bg-white body"> 
              
              
            </div>
        
        
        <!--<main>
                <div class="container-fluid bg-white text-dark mt-0 pt-5 test">
                  <div class="row body">
                    
                            <div class="col-sm-4 hidden-xs bg-white body">--->
                      
                    <!-- SIDEBAR -->
        
                    <div class="wrapper">
                      <div class="side_bar">
                          <div class="side_bar_top">
                              <div class="profile_pic">
                                  <!--<img src="profile.png" alt="profile">-->
                              </div>
                              <div class="profile_info">
                                  <h3>Merthyr Tydfil</h3>
                              </div>
                          </div>
                          
                          <div class="side_bar_bottom">
                              <ul>
                                  <li class="active">
                                      <span class="top_curve"></span>
                                      <a href="{% url 'beacons' %}" aria-current="page">
                                         <span class="item">Beacons</span></a>
                                      <span class="bottom_curve"></span>
                                  </li>
                                  <li>
                                      <span class="top_curve"></span>
                                      <a href="{% url 'dowlais' %}" aria-current="page">
                                          <span class="item">Dowlais</span></a>
                                      <span class="bottom_curve"></span>
                                  </li>
                                  <li>
                                      <span class="top_curve"></span>
                                      <a href="{% url 'georgetown' %}" aria-current="page">
                                          <span class="item">Georgetown</span></a>
                                      <span class="bottom_curve"></span>
                                  </li>
                                  <li>
                                      <span class="top_curve"></span>
                                      <a href="{% url 'keir' %}" aria-current="page">
                                          <span class="item">Keir Hardie</span></a>
                                      <span class="bottom_curve"></span>
                                  </li>
                                  <div class="profile_info text-white">
                                      <h3>Bargoed</h3>
                                  </div>
                                  <li>
                                      <span class="top_curve"></span>
                                      <a href="{% url 'lewis' %}" aria-current="page">
                                          <span class="item">Lewis</span></a>
                                      <span class="bottom_curve"></span>
                                  </li>
                                  <!--<li>
                                      <span class="top_curve"></span>
                                      <a href="#">
                                          <span class="icon"><i class="fas fa-cog"></i></span>
                                          <span class="item">SETTINGS</span></a>
                                      <span class="bottom_curve"></span>
                                  </li>-->
                              </ul>
                          </div>
                      </div>

                      <div class="main_container " style="margin-left: 50px; margin-top: 10px; ">

                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    What is the flu jab?
                                </button>
                              </h2>
                              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <pflu><span style="font-weight: 400;">The flu jab is a vaccination against the influenza virus, given as an injection.</span></p>
                                        <pflu>The flu vaccine is the best protection against catching the flu. It is possible to catch a strain of flu virus that wasn’t included in the jab. However, if you do, you’re still provided with some protection and will probably recover more quickly from than if you hadn’t had the jab.</p>
                                        <pflu><span style="font-weight: 400;">You can get book the flu jab from our pharmacies listed below.</span></p>

                                        <a href="{% url 'index' %}?" class="dropdown-item">Beacons Phamrmacy</a>
                                        <a href="{% url 'indexa' %}?" class="dropdown-item ">Dowlais Phamrmacy</a>
                                        <a href="{% url 'indexb' %}?" class="dropdown-item ">Georgetown Pharmacy</a>
                                        <a href="{% url 'indexc' %}?" class="dropdown-item ">Keir Hardie Pharmacy</a>
                                        <a href="{% url 'indexd' %}?" class="dropdown-item ">Lewis Pharmacy</a>




                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Who should have the flu jab?
                                </button>
                              </h2>
                              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <pflu><span style="font-weight: 400;">It’s strongly recommended that everyone gets vaccinated if they can - Having the flu jab will help protect you from catching and spreading the flu</span></p>
                                        <pflu><span style="font-weight: 400;">It will also help prevent you from infecting other people in your family, it will also help reduce the strain on the NHS.</span></p>
                                        
                                        <pflu><span style="font-weight: 400;">It’s ok to have the flu jab when pregnant or if you’re taking antibiotics.</span></p>
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Who shouldn’t have the flu jab?
                                </button>
                              </h2>
                              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <pflu><span style="font-weight: 400;">Most people can have a flu vaccine. However, there are a couple of exceptions:</span></p>
                                        <pflu>– If you are currently unwell with a fever, you should delay getting the flu jab.<br>
                                        – If you have an egg allergy, speak to your GP or pharmacist before getting the jab.</p>
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFour">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                    Who is eligible for a free flu jab on the NHS?
                                  </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                  <div class="accordion-body">
                                      <pflu><span style="font-weight: 400;">The flu vaccine is free for people in high-risk groups. You qualify for a free vaccine if you are in one of the following categories:</span></p>
                                        <pflu>– People aged&nbsp;<strong>65</strong>&nbsp;and over</p>
                                        <pflu>– Frontline health or social care workers</p>
                                        <pflu>– Pregnant women</p>
                                        <pflu>–&nbsp;People with certain medical conditions such as asthma, diabetes or chronic heart disease</p>
                                        <pflu>– Neurological disease such as parkinson’s disease</p>
                                        <pflu>-Weakened immune system due to e.g. cancer</p>
                                        <pflu><span style="font-weight: 400;">Your pharmacist will check if you qualify for a flu vaccination on the <strong><a href="https://www.nhs.wales/" target="_blank" rel="noopener">NHS</a></strong>. If you don’t qualify for a free flu jab, you can still have the flu jab privately. But you can still access the free jab from your pharmacist, which may be more convenient than booking an appointment at your GPs.&nbsp;</span></p>
                                        
                                  </div>
                                </div>
                              </div>
                              <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFive">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                                    When should I have the flu jab?
                                  </button>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                  <div class="accordion-body">
                                    <pflu><span style="font-weight: 400;">The best time to have your flu jab is from the end of&nbsp; September to November. This is the ideal time but you can have it later during the winter.</span></p>
                                  </div>
                                </div>
                              </div>
                            



                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingSix">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    What are the flu jab side effects?
                                </button>
                              </h2>
                              <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <pflu><span style="font-weight: 400;">The flu jab is a safe and effective method of fighting the flu. If you experience any flu jab side effects, they are likely to be mild. Side effects include:</span></p>
                                        <pflu>– Mild fever<br>
                                        – Aching muscles<br>
                                        – Sore arm where you were injected<br>
                                        – Headache<br>
                                        – Tiredness or feeling under the weather<br>
                                        – Blocked or runny nose</p>
                                        <pflu><span style="font-weight: 400;">Some people also lose their appetite following the flu jab. Serious side effects of the injected flu vaccine are very rare.</span></p>
                                </div>
                              </div>
                            </div>
                        </div>
                        </div>
                        </div>
                        <br><br><br>



                </div>
                <br><br><br>












                        
                       
                    
                       
                        
                        
                        
                        
                       
                        
                        
                        
                       
                        
                       
    
              
                  
            
        
        
        
                  
        <!--<main>
        <div class="container-fluid bg-white text-dark mt-0 pt-5 test">
          <div class="row body">
                
                        <div class="col-sm-4 hidden-xs bg-white body"> 
                  
                <!-- SIDEBAR -->
                <!--<div class="container-fluid" >
                  <div class="side-bar bg-pblue my-5">
                    <h3><strong>Our Stores</strong></h3>
                    <ul>
                        <h4>In Merthyr Tydfil</h4> 
                        <li><a href="{% url 'beacons' %}" aria-current="page">Beacons</a></li>
                        <li><a href="{% url 'dowlais' %}" aria-current="page">Dowlais</a></li>
                        <li><a href="{% url 'georgetown' %}" aria-current="page">Georgetown</a></li>
                        <li><a href="{% url 'keir' %}" aria-current="page">Keir Hardie</a></li>
                        <h4>In Bargoed</h4>   
                        <li><a href="{% url 'lewis' %}" aria-current="page">Lewis</a></li>
                    </ul>
                  </div>
                </div>
          </div>
                      
                <!-- MAIN CONTENT -->
            
                <!--<div class="col-sm-8 bg-white">
                  <div>
                    
                    <h4>Exciting new services available in Georgetown Pharmacy</h4>
        <p>If you are a women aged between 18 and 64 and are suffering from a urinary tract infection (UTI) Patients can speak to a specially trained pharmacist in confidence in a private consultation room.<span style="background:white"></span></p>
        
        <p><span style="background:white"></span>If the pharmacist concludes an infection is present, the patient may be issued with antibiotics without the need for an appointment with their GP.   </p>
        
        <p><span style="background:white">From April a specially trained pharacist will be avialable for advice and when rewuired prescribing for ear, throst and mouth conditions.</span></p>
        
        <p><span style="background:white">The Common Ailments Scheme has been introduced to allow us to provide advice and treatment, the ailments covered is listed below.</span></p>
          
        <p><span style="background:white"></span>If the pharmacist concludes an infection is present, the patient may be issued with antibiotics without the need for an appointment with their GP.   </p>
        
        <p><span style="background:white">From April a specially trained pharacist will be avaiable for advice and when required prescribing for ear, throst and mouth conditions.</span></p>
        
        <p><span style="background:white">The Common Ailments Scheme has been introduced to allow us to provide advice and treatment, the ailments covered is listed below.</span></p>
          
        
          </div>
          
              
          </div>-->


          
          <footer>
            <div class="container-fluid bg-dark text-light mt-0 pt-5">
                <div class="container py-">
                    <div class="row">
                        
                        
                        <div class="container">
                            <div class="row">
                                <!--<div class="col-md-3 col-sm-6">
                                  <p>
                                        Opening Hours<br>
                                        <br>
                                        Monday: 9:00 – 18:00*<br>
                                        Tuesday: 9:00 – 18:00*<br>
                                        Wednesday: 9:00 – 18:00*<br>
                                        Thursday: 9:00 – 17:00*<br>
                                        Friday: 09:00 – 18:00*<br>
                                        Saturday: 09:00 – 12:00<br>
                                        Sunday: Closed  <br>
                                        * Closed for lunch: <br> 13:00 – 14:00</p>
                                </div>-->
                                <div class="col-md-2 col-sm-2 footer-small-sepra hidden-xs">
                                  <p>Categories</p>
                                  <ul class="footer-nav">
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    <li><a href="{% url 'services' %}">Services</a></li>
                                    <li><a href="{% url 'faq' %}">FAQs</a></li>
                                    <!--<li><a href="{% url 'home' %}">Job Opportunities</a></li>-->
                                    <li><a href="{% url 'about' %}">About Us</a></li>
                                    <li><a href="{% url 'news' %}">News</a></li>
                                    <li><a href="{% url 'contact' %}">Contact</a></li>
                                  </ul>
                                </div>

                                <div class="col-md-2 col-sm-3 footer-small-sepra hidden-xs">
                                    
                                  <p>Connect with us</p>
                                  <ul class="list-inline social-links">


                                    <li><a target="_blank" href="https://www.facebook.com/p/Beacons-Pharmacy-100066690920495/"><i class="fab fa-facebook-square"></i></a>  Beacons Pharmacy</li>
                                    <li><a target="_blank" href="https://www.facebook.com/p/Dowlais-Pharmacy-100078146671194/"><i class="fab fa-facebook-square"></i></a>  Dowlais Pharmacy</li>
                                    <li><a target="_blank" href="https://www.facebook.com/georgetownpharmacymerthyrtydfil"><i class="fab fa-facebook-square"></i></a>  Georgetown Pharmacy</li>
                                    <li><a target="_blank" href="https://www.facebook.com/p/Keir-Hardie-Pharmacy-100067487744360/"><i class="fab fa-facebook-square"></i></a>  Kwir Hardie Pharmacy</li>
                                    <li><a target="_blank" href="https://www.facebook.com/people/Lewis-Chemist-Bargoed/100089335776087/?locale2=hi_IN"><i class="fab fa-facebook-square"></i></a>  Lewis Pharmacy</li>
                                          
                                  </ul>
                                
                              </div>


                                <div class="col-md-4 col-sm-3 footer-small-sepra hidden-xs">
                                    <p>Email us</p>
                                  <p>
                                    <label><i class="fa fa-envelope"></i></label>
                                    <a href="mailto:neaconspharmacy@outlook.com">beaconspharmacy@outlook.com</a><br>
                                    <label><i class="fa fa-envelope"></i></label>
                                    <a href="mailto:georgetowndowlaisgeorgetownpharmacy@outlook.com">dowlaispharmacy@outlook.com</a><br>
                                    <label><i class="fa fa-envelope"></i></label>
                                    <a href="mailto:georgetownpharmacy@outlook.com">georgetownpharmacy@outlook.com</a><br>
                                    <label><i class="fa fa-envelope"></i></label>
                                    <a href="mailto:keirhardiepharmacy@outlook.com">keirhardiepharmacy@outlook.com</a><br>
                                    <label><i class="fa fa-envelope"></i></label>
                                    <a href="mailto:lewispharmacy@outlook.com">lewispharmacy@outlook.com</a><br>


                                  </p>
                                  
                                      </div>
                                      <div class="col-md-2 col-sm-3 footer-small-sepra hidden-xs">
                                  <p>Talk to us</p>
                                  <p>
                                          
                                    <label><i class="fa fa-phone"></i></label>
                                    <a href="tel:01685 388838">01685 388838</a><br>
                                  
                                    <label><i class="fa fa-phone"></i></label>
                                    <a href="tel:01685 350350">01685 350350</a><br>

                                    <label><i class="fa fa-phone"></i></label>
                                    <a href="tel:01245 264252">01685 377824</a><br>

                                    <label><i class="fa fa-phone"></i></label>
                                    <a href="tel:01685 350857">01685 350857</a><br>
                                  
                                    <label><i class="fa fa-phone"></i></label>
                                    <a href="tel:01443 831030">01443 831030</a><br>

                                    

                                  
                                  
                                  
                                  </p>
                                
                                    
                              </div>
                              
                                <!--<div class="col-md-3 col-sm-6 footer-small-sepra">
                                  <img class="bg-dark text-light" id="logo-icon" src="{% static 'media/logo4.png' %}" height="70px">
                                  <p>Ynysfach Road,<br>
                                    Georgetown,<br>
                                    Merthyr Tydfil,<br>
                                    CF48 1AG,<br>
                                    UK</p>
                                        </div>
                              </div>-->
                              <div class="clearfix"></div>
                              <div class="footer-sepra"></div>
                              <!-- COPYRIGHT -->
                              <div class="copyright text-center">Copyright © 2023 <strong>Dowlais Pharmacy Ltd</strong>. All rights reserved. <a target="_blank" href="http://www.computeraidwales.co.uk/">Built by ComputerAidWales</a></div>
                              <BR>
                            </div>
                        
                    </div>
                </div>
            </div>
        



{% endblock %}

