{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-30">
    <div class="row">
        <div class="col-12 col-md-12 col-sm-12 my-auto mx-auto  " style="width:950px">
            <br><br> <br><br>
            
            <div class="container ">
                <br><br> <br><br>
                
                <div class="d-inline-block text-white text-uppercase align-text-top d-inline-block">
                    <h4>about us</h4>
                </div>
                <!--<div class="d-sm-inline-block bg-success">
                    <a href="{% url 'home' %}?category=donation" class="shop-now-button btn btn-sm rounded-0 btn-rounded text-uppercase py-3 bg-pblue">Home !</a>
                </div> -->
                <br><br> <br><br>
              </div>
        </div>
    </div>
</div>


<main>
    <div class="container-fluid bg-white text-dark mt-0 pt-5 test">
      <div class="row body">
        
                <div class="col-sm-4 hidden-xs bg-white body"> 
          
          
        </div>


    <main>
        <div class="container-fluid bg-white text-dark mt-0 pt-5 test">
          <div class="row body">
            
                    <div class="col-sm-4 hidden-xs bg-white body"> 
              
              <!-- SIDEBAR -->
              <div class="side-bar bg-pblue my-5">
                          <h3>Our Services</h3>
      <ul>
        <li><a href="{% url 'flu' %}" aria-current="page">Flu Jab</a></li>
      <li><a href="{% url 'building' %}" aria-current="page">Free Prescription Delivery Service</a></li>
      <li><a href="{% url 'building' %}" aria-current="page">Pharmacist Independent Prescribing</a></li>
      <li><a href="{% url 'cas' %}" aria-current="page">Common Ailments Scheme</a></li>
      
      </ul>                  </div>
            </div>
                  
            <!-- MAIN CONTENT -->
        
            <div class="col-sm-8 bg-white">
              <div>
                <div class="clearfix"></div><div class="col-md-12 image-col"><h4>We are a part of an independent pharmacy group based in the South Wales Valleys and have been serving the community for 20 years. Georgetown Pharmacy was established in 2002 in Dowlais, Merthyr Tydfil. This is a pharmacy that takes extra pride in serving the community.</h4>
      <p>As a middleman between your doctor’s prescriptions and your own well being, we strive to provide personalized and professional attention, as well as medication management protocols that inspire customers to seek out the medications and advice they need in order to get better. Trust our Pharmacy to provide you with the care you deserve in Merthyr Tydfil.</p>
      <p><img loading="lazy" class="alignnone wp-image-284 size-large center" src="{% static 'media/pharmacy.jpeg'%}" alt="staff" max-width="660px"></p>
      </div>
      <div class="d-xs-block"></div></div><div class="col-md-12python3 manage.py runserver
       image-col "><h3>Independent and passionate</h3>
      <p>We care about the well-being of each customer who walks through our doors. That’s why we’ve dedicated so much time to ensuring we stock the widest range of medical products, offer the highest quality health services, and retain the best staff possible.</p>
      <p>Their responsible staff works hard to ensure patient care comes first, with their professional and friendly service, and reliable healthcare advice.</p>
      </div>        </div>
            </div>
                    <div class="col-sm-4 visible-xs"> 
              
             
        
     
          
      </div>


{% endblock %}