{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-30">
    <div class="row">
        <div class="col-12 col-md-12 col-sm-12 my-auto mx-auto  " style="width:950px">
            <br><br> <br><br>
            
            <div class="container ">
                <br><br> <br><br>
                
                <div class="d-inline-block text-white text-uppercase align-text-top d-inline-block">
                    <h4>about us</h4>
                </div>
                <!--<div class="d-sm-inline-block bg-success">
                    <a href="{% url 'home' %}?category=donation" class="shop-now-button btn btn-sm rounded-0 btn-rounded text-uppercase py-3 bg-pblue">Home !</a>
                </div> -->
                <br><br> <br><br>
              </div>
        </div>
    </div>
</div>


<main>
    <div class="container-fluid bg-white text-dark mt-0 pt-5 test">
      <div class="row body">
        
                <div class="col-sm-4 hidden-xs bg-white body"> 
          
          
        </div>


    <main>
        <div class="container-fluid bg-white text-dark mt-0 pt-5 test">
          <div class="row body">
            
                    <div class="col-sm-4 hidden-xs bg-white body"> 
              
              <!-- SIDEBAR -->
              <div class="side-bar bg-pblue my-5">
                          <h3>Our Services</h3>
      <ul>
        <li><a href="{% url 'flu' %}" aria-current="page">Flu Jab</a></li>
      <li><a href="{% url 'building' %}" aria-current="page">Free Prescription Delivery Service</a></li>
      <li><a href="{% url 'building' %}" aria-current="page">Pharmacist Independent Prescribing</a></li>
      <li><a href="{% url 'cas' %}" aria-current="page">Common Ailments Scheme</a></li>
      
      </ul>                  </div>
            </div>
                  
            <!-- MAIN CONTENT -->
        
            <div class="col-sm-8 bg-white">
              <div>
                <div class="clearfix"></div><div class="col-md-12 image-col"><h4>We are a part of an independent pharmacy group based in the South Wales Valleys and have been serving the community for 20 years. Georgetown Pharmacy was established in 2002 in Dowlais, Merthyr Tydfil. This is a pharmacy that takes extra pride in serving the community.</h4>
      <p>As a middleman between your doctor’s prescriptions and your own well being, we strive to provide personalized and professional attention, as well as medication management protocols that inspire customers to seek out the medications and advice they need in order to get better. Trust our Pharmacy to provide you with the care you deserve in Merthyr Tydfil.</p>
      <p><img loading="lazy" class="alignnone wp-image-284 size-large center" src="{% static 'media/pharmacy.jpeg'%}" alt="staff" max-width="660px"></p>
      </div>
      <div class="d-xs-block"></div></div><div class="col-md-12python3 manage.py runserver
       image-col "><h3>Independent and passionate</h3>
      <p>We care about the well-being of each customer who walks through our doors. That’s why we’ve dedicated so much time to ensuring we stock the widest range of medical products, offer the highest quality health services, and retain the best staff possible.</p>
      <p>Their responsible staff works hard to ensure patient care comes first, with their professional and friendly service, and reliable healthcare advice.</p>
      </div>        </div>
            </div>
                    <div class="col-sm-4 visible-xs"> 
              
             
        
     
          
      </div>

      <footer>
        <div class="container-fluid bg-dark text-light mt-0 pt-5">
            <div class="container py-">
                <div class="row">
                    
                    
                    <div class="container">
                        <div class="row">
                            <!--<div class="col-md-3 col-sm-6">
                              <p>
                                    Opening Hours<br>
                                    <br>
                                    Monday: 9:00 – 18:00*<br>
                                    Tuesday: 9:00 – 18:00*<br>
                                    Wednesday: 9:00 – 18:00*<br>
                                    Thursday: 9:00 – 17:00*<br>
                                    Friday: 09:00 – 18:00*<br>
                                    Saturday: 09:00 – 12:00<br>
                                    Sunday: Closed  <br>
                                    * Closed for lunch: <br> 13:00 – 14:00</p>
                            </div>-->
                            <div class="col-md-2 col-sm-2 footer-small-sepra hidden-xs">
                              <p>Categories</p>
                              <ul class="footer-nav">
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'services' %}">Services</a></li>
                                <li><a href="{% url 'faq' %}">FAQs</a></li>
                                <!--<li><a href="{% url 'home' %}">Job Opportunities</a></li>-->
                                <li><a href="{% url 'about' %}">About Us</a></li>
                                <li><a href="{% url 'news' %}">News</a></li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                              </ul>
                            </div>

                            <div class="col-md-2 col-sm-3 footer-small-sepra hidden-xs">
                                
                              <p>Connect with us</p>
                              <ul class="list-inline social-links">


                                <li><a target="_blank" href="https://www.facebook.com/p/Beacons-Pharmacy-100066690920495/"><i class="fab fa-facebook-square"></i></a>  Beacons Pharmacy</li>
                                <li><a target="_blank" href="https://www.facebook.com/p/Dowlais-Pharmacy-100078146671194/"><i class="fab fa-facebook-square"></i></a>  Dowlais Pharmacy</li>
                                <li><a target="_blank" href="https://www.facebook.com/georgetownpharmacymerthyrtydfil"><i class="fab fa-facebook-square"></i></a>  Georgetown Pharmacy</li>
                                <li><a target="_blank" href="https://www.facebook.com/p/Keir-Hardie-Pharmacy-100067487744360/"><i class="fab fa-facebook-square"></i></a>  Kwir Hardie Pharmacy</li>
                                <li><a target="_blank" href="https://www.facebook.com/people/Lewis-Chemist-Bargoed/100089335776087/?locale2=hi_IN"><i class="fab fa-facebook-square"></i></a>  Lewis Pharmacy</li>
                                      
                              </ul>
                            
                          </div>


                            <div class="col-md-4 col-sm-3 footer-small-sepra hidden-xs">
                                <p>Email us</p>
                              <p>
                                <label><i class="fa fa-envelope"></i></label>
                                <a href="mailto:neaconspharmacy@outlook.com">Beacons Pharmacy</a><br>
                                <label><i class="fa fa-envelope"></i></label>
                                <a href="mailto:georgetowndowlaisgeorgetownpharmacy@outlook.com">Dowlais Pharmacy</a><br>
                                <label><i class="fa fa-envelope"></i></label>
                                <a href="mailto:georgetownpharmacy@outlook.com">Georgetown Pharmacy</a><br>
                                <label><i class="fa fa-envelope"></i></label>
                                <a href="mailto:keirhardiepharmacy@outlook.com">Keir Hardie Pharmac</a><br>
                                <label><i class="fa fa-envelope"></i></label>
                                <a href="mailto:lewispharmacy@outlook.com">Lewis Pharmacy</a><br>


                              </p>
                              
                                  </div>
                                  <div class="col-md-4 col-sm-3 footer-small-sepra hidden-xs">
                              <p>Talk to us</p>
                              <p>
                                      
                                <label><i class="fa fa-phone"></i></label>
                                <a href="tel:01685 388838">Beacons Pharmacy :01685 388838</a><br>
                              
                                <label><i class="fa fa-phone"></i></label>
                                <a href="tel:01685 350350">Dowlais Pharmacy :01685 350350</a><br>

                                <label><i class="fa fa-phone"></i></label>
                                <a href="tel:01245 264252">Georgetown Pharmacy :01245 264252</a><br>

                                <label><i class="fa fa-phone"></i></label>
                                <a href="tel:01685 350857">Keir Hardie Pharmacy :01685 350857</a><br>
                              
                                <label><i class="fa fa-phone"></i></label>
                                <a href="tel:01443 831030">Lewis Pharmacy :01443 831030</a><br>

                                

                              
                              
                              
                              </p>
                            
                                
                          </div>
                          
                            <!--<div class="col-md-3 col-sm-6 footer-small-sepra">
                              <img class="bg-dark text-light" id="logo-icon" src="{% static 'media/logo4.png' %}" height="70px">
                              <p>Ynysfach Road,<br>
                                Georgetown,<br>
                                Merthyr Tydfil,<br>
                                CF48 1AG,<br>
                                UK</p>
                                    </div>
                          </div>-->
                          <div class="clearfix"></div>
                          <div class="footer-sepra"></div>
                          <!-- COPYRIGHT -->
                          <div class="copyright text-center">Copyright © 2023 <strong>Dowlais Pharmacy Ltd</strong>. All rights reserved. <a target="_blank" href="http://www.computeraidwales.co.uk/">Built by ComputerAidWales</a></div>
                          <BR>
                        </div>
                        <br><br>
                    
                </div>
            </div>
        </div>
    </footer>


{% endblock %}