{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-30">
    <div class="row">
        <div class="col-12 col-md-12 col-sm-12 my-auto mx-auto  " style="width:950px">
            <br><br> <br><br>
            
            <div class="container ">
                <br><br> <br><br>
                
                <div class="d-inline-block text-white text-uppercase align-text-top d-inline-block">
                    <h4>contact us</h4>
                </div>
                <!--<div class="d-sm-inline-block bg-success">
                    <a href="{% url 'home' %}?category=donation" class="shop-now-button btn btn-sm rounded-0 btn-rounded text-uppercase py-3 bg-pblue">Home !</a>
                </div> -->
                <br><br> <br><br>
              </div>
        </div>
    </div>
</div>


<main>
    <div class="container-fluid bg-white text-dark mt-0 pt-5 test">
      <div class="row body">
        
                <div class="col-sm-4 hidden-xs bg-white body"> 
          
          
        </div>
              
        <!-- MAIN CONTENT -->
    
        <div class="col-sm-8 bg-white col-12 col-md-12 ">
          <div>
            <div class="clearfix"></div><div class="col-md-12 image-col text-center"><h4>Have a question for us? Here are a few frequently asked questions that we get at Georgetown Pharmacy and some helpful answers.</p>
  </div>
  
  <section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="">Your name</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="">Your email</label>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control">
                            <label for="subject" class="">Subject</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Your message</label>
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            </form>

            <div class="text-center text-md-left">
                <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
            </div>
            <div class="status"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Merthyr Tydfil</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+ 01685 377824</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>contact@georgetownpharmacy.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.2-->

<footer>
    <div class="container-fluid bg-dark text-light mt-0 pt-5">
        <div class="container py-">
            <div class="row">
                
                
                <div class="container">
                    <div class="row">
                        <!--<div class="col-md-3 col-sm-6">
                          <p>
                                Opening Hours<br>
                                <br>
                                Monday: 9:00 – 18:00*<br>
                                Tuesday: 9:00 – 18:00*<br>
                                Wednesday: 9:00 – 18:00*<br>
                                Thursday: 9:00 – 17:00*<br>
                                Friday: 09:00 – 18:00*<br>
                                Saturday: 09:00 – 12:00<br>
                                Sunday: Closed  <br>
                                * Closed for lunch: <br> 13:00 – 14:00</p>
                        </div>-->
                        <div class="col-md-2 col-sm-2 footer-small-sepra hidden-xs">
                          <p>Categories</p>
                          <ul class="footer-nav">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'services' %}">Services</a></li>
                            <li><a href="{% url 'faq' %}">FAQs</a></li>
                            <!--<li><a href="{% url 'home' %}">Job Opportunities</a></li>-->
                            <li><a href="{% url 'about' %}">About Us</a></li>
                            <li><a href="{% url 'news' %}">News</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                          </ul>
                        </div>

                        <div class="col-md-2 col-sm-3 footer-small-sepra hidden-xs">
                            
                          <p>Connect with us</p>
                          <ul class="list-inline social-links">


                            <li><a target="_blank" href="https://www.facebook.com/p/Beacons-Pharmacy-100066690920495/"><i class="fab fa-facebook-square"></i></a>  Beacons Pharmacy</li>
                            <li><a target="_blank" href="https://www.facebook.com/p/Dowlais-Pharmacy-100078146671194/"><i class="fab fa-facebook-square"></i></a>  Dowlais Pharmacy</li>
                            <li><a target="_blank" href="https://www.facebook.com/georgetownpharmacymerthyrtydfil"><i class="fab fa-facebook-square"></i></a>  Georgetown Pharmacy</li>
                            <li><a target="_blank" href="https://www.facebook.com/p/Keir-Hardie-Pharmacy-100067487744360/"><i class="fab fa-facebook-square"></i></a>  Kwir Hardie Pharmacy</li>
                            <li><a target="_blank" href="https://www.facebook.com/people/Lewis-Chemist-Bargoed/100089335776087/?locale2=hi_IN"><i class="fab fa-facebook-square"></i></a>  Lewis Pharmacy</li>
                                  
                          </ul>
                        
                      </div>


                        <div class="col-md-4 col-sm-3 footer-small-sepra hidden-xs">
                            <p>Email us</p>
                          <p>
                            <label><i class="fa fa-envelope"></i></label>
                            <a href="mailto:neaconspharmacy@outlook.com">Beacons Pharmacy</a><br>
                            <label><i class="fa fa-envelope"></i></label>
                            <a href="mailto:georgetowndowlaisgeorgetownpharmacy@outlook.com">Dowlais Pharmacy</a><br>
                            <label><i class="fa fa-envelope"></i></label>
                            <a href="mailto:georgetownpharmacy@outlook.com">Georgetown Pharmacy</a><br>
                            <label><i class="fa fa-envelope"></i></label>
                            <a href="mailto:keirhardiepharmacy@outlook.com">Keir Hardie Pharmac</a><br>
                            <label><i class="fa fa-envelope"></i></label>
                            <a href="mailto:lewispharmacy@outlook.com">Lewis Pharmacy</a><br>


                          </p>
                          
                              </div>
                              <div class="col-md-4 col-sm-3 footer-small-sepra hidden-xs">
                          <p>Talk to us</p>
                          <p>
                                  
                            <label><i class="fa fa-phone"></i></label>
                            <a href="tel:01685 388838">Beacons Pharmacy :01685 388838</a><br>
                          
                            <label><i class="fa fa-phone"></i></label>
                            <a href="tel:01685 350350">Dowlais Pharmacy :01685 350350</a><br>

                            <label><i class="fa fa-phone"></i></label>
                            <a href="tel:01245 264252">Georgetown Pharmacy :01245 264252</a><br>

                            <label><i class="fa fa-phone"></i></label>
                            <a href="tel:01685 350857">Keir Hardie Pharmacy :01685 350857</a><br>
                          
                            <label><i class="fa fa-phone"></i></label>
                            <a href="tel:01443 831030">Lewis Pharmacy :01443 831030</a><br>

                            

                          
                          
                          
                          </p>
                        
                            
                      </div>
                      
                        <!--<div class="col-md-3 col-sm-6 footer-small-sepra">
                          <img class="bg-dark text-light" id="logo-icon" src="{% static 'media/logo4.png' %}" height="70px">
                          <p>Ynysfach Road,<br>
                            Georgetown,<br>
                            Merthyr Tydfil,<br>
                            CF48 1AG,<br>
                            UK</p>
                                </div>
                      </div>-->
                      <div class="clearfix"></div>
                      <div class="footer-sepra"></div>
                      <!-- COPYRIGHT -->
                      <div class="copyright text-center">Copyright © 2023 <strong>Dowlais Pharmacy Ltd</strong>. All rights reserved. <a target="_blank" href="http://www.computeraidwales.co.uk/">Built by ComputerAidWales</a></div>
                      <BR>
                    </div>
                    <br><br>
                
            </div>
        </div>
    </div>
</footer>


{% endblock %}
