{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-30">
    <div class="row">
        <div class="col-12 col-md-12 col-sm-12 my-auto mx-auto  " style="width:950px">
            <br><br> <br><br>
            
            <div class="container ">
                <br><br> <br><br>
                
                <div class="d-inline-block text-white text-uppercase align-text-top d-inline-block">
                    <h4>services</h4>
                </div>
                <!--<div class="d-sm-inline-block bg-success">
                    <a href="{% url 'home' %}?category=donation" class="shop-now-button btn btn-sm rounded-0 btn-rounded text-uppercase py-3 bg-pblue">Home !</a>
                </div> -->
                <br><br> <br><br>
              </div>
        </div>
    </div>
</div>


<main>
    <div class="container-fluid bg-white text-dark mt-0 pt-5 test">
      <div class="row body">
        
                <div class="col-sm-4 hidden-xs bg-white body"> 
          
          
        </div>
              
        <!-- MAIN CONTENT -->
    
        <div class="col-sm-8 bg-white col-12 col-md-12 ">
          <div>
            
  <div class="container">
    <div class="row equal"> 
  
        <!-- MAIN CONTENT -->
        <div class="col-sm-10 col-sm-offset-1"> <h4 style="text-align: center;">Our pharmacists and their teams provide a wide range of healthcare services. We provide services commissioned by the NHS and also private services.</h4>
        </div>
             <div class="sep-30"></div>
             <div>
              <br><br><br>
            </div>
             
             <!-- SERVICE LIST -->

            <!-- SERVICE -->
            <div class="row">
              <div class="col-sm-4">
                <div class="card" style="width: 21rem;">
                  <div class="card-body">
                    <h5 class="card-title"><i class="fa fa-user-md"></i> Pharmacist Independent Prescribing</h5>
                    <p class="card-text">every weekday except Tuesdays.</p>Our prescribing pharmacist can offer advice and treatments for a range of conditions, see our services and which pharmacies theyt are available from.
                      This service is available 
                    <a href="{% url 'building' %}" class="read-more-btn">Read more <i class="fa fa-angle-right"></i></a>
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title"><i class="fa-solid fa-syringe"></i> Flu Jab</h5>
                    <p class="card-text">Getting the flu vaccine is more important than ever this year. So get your flu jab from one of our pharmacies.</p>
                    <a href="{% url 'building' %}" class="read-more-btn">Read more <i class="fa fa-angle-right"></i></a>
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title"><i class="fa fa-truck"></i> Free Prescription Delivery Service.</h5>
                    <p class="card-text">Sign up so you can get your medications delivered directly to your door.</p>
                    <a href="{% url 'building' %}" class="read-more-btn">Read more <i class="fa fa-angle-right"></i></a>
                  </div>
                </div>
                
              </div>

              <div>
                <br><br><br>
              </div>


              
                <div class="col-sm-4">
                  <div class="card" style="width: 21rem;">
                    <div class="card-body">
                      <h5 class="card-title"><i class="fa fa-notes-medical"></i> Common Ailments Service </h5>
                      <p class="card-text">offers patients a free NHS consultation and free medication for 27 common ailments that cannot be managed by self-care alone. The conditions covered are listed in the read more below.</p>
                      <a href="{% url 'cas' %}" class="read-more-btn">Read more <i class="fa fa-angle-right"></i></a>
                    </div>
                  </div>
                </div>
  
                <!--<div class="col-sm-4">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title"><i class="fa fa-heartbeat"></i> Free Blood Pressure Check</h5>
                      <p class="card-text">Blood pressure is an important health marker but most people have no idea whether their blood pressure is normal or high. Colecross Pharmacy offers free blood pressure check for our local customers.</p>
                      <a href="{% url 'building' %}" class="read-more-btn">Read more <i class="fa fa-angle-right"></i></a>
                    </div>
                  </div>
                </div>-->
  
                <div class="col-sm-4">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title"><i class="fa fa-plus"></i> Free Health Advice</h5>
                      <p class="card-text">We can provide free health advice on many minor ailments saving you the hassle of a trip to the GPs. Pop in-store and speak to a member of staff today.</p>
                      <a href="{% url 'building' %}" class="read-more-btn">Read more <i class="fa fa-angle-right"></i></a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title"><i class="fa fa-file-prescription"></i> Repeat Prescription Collection Service</h5>
                      <p class="card-text">If you have regular medication needs, you may find it more convenient to use it’s easy to set up plus it’s free!</p>
                      <a href="{% url 'building' %}" class="read-more-btn">Read more <i class="fa fa-angle-right"></i></a>
                    </div>
                    
                  </div>
                  <br><br><br>
                </div>
                <h1 class="text-center">News</h1>
                
                <article class="col-md-4 news-block">
                  <div ></div>
                  <p><img  src="{% static 'media/UTI-infection.jpg'%}" alt="uti" ></p>
                  <h3>What are the Causes, Symptoms and Treatment for Urinary Tract Infections?</h3>
                  <div class="news-block-desc">
                    <p>Urinary tract infection (UTI) is the type of illness that affects the urinary system, including the bladder, ureters, urethra, and kidney. It mostly affects the lower urinary tracts, which are the urethra and the bladder.</p>
                    <p class="news-info"><a href="{% url 'building' %}">Read more <i class="fa fa-angle-right"></i></a><span class="news-info-sepra">|</span>Thu, December 2021</p>
                  </div>
                </article><!-- NEWS ITEM -->
                  <article class="col-md-4 news-block">
                    <div class="img-box" style="background-image:url)"></div>
                    <p><img  src="{% static 'media/minor.png'%}" alt="staff" ></p>
                    <h3>Common Ailment Service</h3>
                    <div class="news-block-desc">
                      <p>The common ailments service offers patients access to free NHS advice and treatment for common ailments that cannot be managed by self care.</p>
                      <p class="news-info"><a href="{% url 'cas' %}">Read more <i class="fa fa-angle-right"></i></a><span class="news-info-sepra">|</span>Wed, June 2021</p>
                    </div>
                  </article><!-- NEWS ITEM -->
                  <article class="col-md-4 news-block">
                    <div class="img-box" style="background-image:url(https://www.colecrosspharmacy.co.uk/wp-content/uploads/2021/09/Copy-of-Untitled-2021-09-15T142628.122-300x157.jpg)"></div>
                    <p><img  src="{% static 'media/vaccination.jpg'%}" alt="staff" ></p>
                    <h3>Why you Need to Book your Winter Flu Vaccination</h3>
                    <div class="news-block-desc">
                      <p>With winter incoming, it is now time to book your flu vaccine it offers the best protection for not only yourself, but also those around you. It is especially essential this year, in order to lessen the Covid-related pressure on the NHS.</p>
                      <p class="news-info"><a href="{% url 'building' %}">Read more <i class="fa fa-angle-right"></i></a><span class="news-info-sepra">|</span>Fri, September 2021</p>
                    </div>
                  </article>
          
          
                 
                                
                      </div>
                      <div class="sep-30"></div>
                        <p class="text-center" style="margin: 0 auto;"> <a class="read-more-btn" href="{% url 'news' %}?category=donation">View All News</a> </p>
                        <div class="sep-30"></div>
                          </div>
                  </div>
                <div>
                  <br><br><br>
                </div>
  
  
                
                 
    
                  <!--  <div class="col-sm-4">
                      <div class="card" style="width: 21rem;">
                        <div class="card-body">
                          <h5 class="card-title"><i class="fa fa-male"></i> Erectile Dysfunction Treatment</h5>
                          <p class="card-text">Erectile dysfunction (ED), sometimes called impotence, is a personal and potentially awkward topic to discuss. Colecross Pharmacy will treat you with discretion and understanding when accessing ED treatment through our stores.&nbsp;</p>
                          <a href="{% url 'building' %}" class="read-more-btn">Read more <i class="fa fa-angle-right"></i></a>
                        </div>
                      </div>
                    </div>-->
    
                  
                  </div>

                  <footer>
                    <div class="container-fluid bg-dark text-light mt-0 pt-5">
                        <div class="container py-">
                            <div class="row">
                                
                                
                                <div class="container">
                                    <div class="row">
                                        <!--<div class="col-md-3 col-sm-6">
                                          <p>
                                                Opening Hours<br>
                                                <br>
                                                Monday: 9:00 – 18:00*<br>
                                                Tuesday: 9:00 – 18:00*<br>
                                                Wednesday: 9:00 – 18:00*<br>
                                                Thursday: 9:00 – 17:00*<br>
                                                Friday: 09:00 – 18:00*<br>
                                                Saturday: 09:00 – 12:00<br>
                                                Sunday: Closed  <br>
                                                * Closed for lunch: <br> 13:00 – 14:00</p>
                                        </div>-->
                                        <div class="col-md-2 col-sm-2 footer-small-sepra hidden-xs">
                                          <p>Categories</p>
                                          <ul class="footer-nav">
                                            <li><a href="{% url 'home' %}">Home</a></li>
                                            <li><a href="{% url 'services' %}">Services</a></li>
                                            <li><a href="{% url 'faq' %}">FAQs</a></li>
                                            <!--<li><a href="{% url 'home' %}">Job Opportunities</a></li>-->
                                            <li><a href="{% url 'about' %}">About Us</a></li>
                                            <li><a href="{% url 'news' %}">News</a></li>
                                            <li><a href="{% url 'contact' %}">Contact</a></li>
                                          </ul>
                                        </div>
            
                                        <div class="col-md-2 col-sm-3 footer-small-sepra hidden-xs">
                                            
                                          <p>Connect with us</p>
                                          <ul class="list-inline social-links">
            
            
                                            <li><a target="_blank" href="https://www.facebook.com/p/Beacons-Pharmacy-100066690920495/"><i class="fab fa-facebook-square"></i></a>  Beacons Pharmacy</li>
                                            <li><a target="_blank" href="https://www.facebook.com/p/Dowlais-Pharmacy-100078146671194/"><i class="fab fa-facebook-square"></i></a>  Dowlais Pharmacy</li>
                                            <li><a target="_blank" href="https://www.facebook.com/georgetownpharmacymerthyrtydfil"><i class="fab fa-facebook-square"></i></a>  Georgetown Pharmacy</li>
                                            <li><a target="_blank" href="https://www.facebook.com/p/Keir-Hardie-Pharmacy-100067487744360/"><i class="fab fa-facebook-square"></i></a>  Kwir Hardie Pharmacy</li>
                                            <li><a target="_blank" href="https://www.facebook.com/people/Lewis-Chemist-Bargoed/100089335776087/?locale2=hi_IN"><i class="fab fa-facebook-square"></i></a>  Lewis Pharmacy</li>
                                                  
                                          </ul>
                                        
                                      </div>
            
            
                                        <div class="col-md-4 col-sm-3 footer-small-sepra hidden-xs">
                                            <p>Email us</p>
                                          <p>
                                            <label><i class="fa fa-envelope"></i></label>
                                            <a href="mailto:neaconspharmacy@outlook.com">Beacons Pharmacy</a><br>
                                            <label><i class="fa fa-envelope"></i></label>
                                            <a href="mailto:georgetowndowlaisgeorgetownpharmacy@outlook.com">Dowlais Pharmacy</a><br>
                                            <label><i class="fa fa-envelope"></i></label>
                                            <a href="mailto:georgetownpharmacy@outlook.com">Georgetown Pharmacy</a><br>
                                            <label><i class="fa fa-envelope"></i></label>
                                            <a href="mailto:keirhardiepharmacy@outlook.com">Keir Hardie Pharmac</a><br>
                                            <label><i class="fa fa-envelope"></i></label>
                                            <a href="mailto:lewispharmacy@outlook.com">Lewis Pharmacy</a><br>
            
            
                                          </p>
                                          
                                              </div>
                                              <div class="col-md-4 col-sm-3 footer-small-sepra hidden-xs">
                                          <p>Talk to us</p>
                                          <p>
                                                  
                                            <label><i class="fa fa-phone"></i></label>
                                            <a href="tel:01685 388838">Beacons Pharmacy :01685 388838</a><br>
                                          
                                            <label><i class="fa fa-phone"></i></label>
                                            <a href="tel:01685 350350">Dowlais Pharmacy :01685 350350</a><br>
            
                                            <label><i class="fa fa-phone"></i></label>
                                            <a href="tel:01245 264252">Georgetown Pharmacy :01245 264252</a><br>
            
                                            <label><i class="fa fa-phone"></i></label>
                                            <a href="tel:01685 350857">Keir Hardie Pharmacy :01685 350857</a><br>
                                          
                                            <label><i class="fa fa-phone"></i></label>
                                            <a href="tel:01443 831030">Lewis Pharmacy :01443 831030</a><br>
            
                                            
            
                                          
                                          
                                          
                                          </p>
                                        
                                            
                                      </div>
                                      
                                        <!--<div class="col-md-3 col-sm-6 footer-small-sepra">
                                          <img class="bg-dark text-light" id="logo-icon" src="{% static 'media/logo4.png' %}" height="70px">
                                          <p>Ynysfach Road,<br>
                                            Georgetown,<br>
                                            Merthyr Tydfil,<br>
                                            CF48 1AG,<br>
                                            UK</p>
                                                </div>
                                      </div>-->
                                      <div class="clearfix"></div>
                                      <div class="footer-sepra"></div>
                                      <!-- COPYRIGHT -->
                                      <div class="copyright text-center">Copyright © 2023 <strong>Dowlais Pharmacy Ltd</strong>. All rights reserved. <a target="_blank" href="http://www.computeraidwales.co.uk/">Built by ComputerAidWales</a></div>
                                      <BR>
                                    </div>
                                    <br><br>
                                
                            </div>
                        </div>
                    </div>
                </footer>
   




















            </div>
            
            
            
            
         </div>
      
  </div>




{% endblock %}
